.parwork {
    text-align: left !important;
}

.buttonapply {
    position: relative !important;
    display: inline-block !important;
    border-radius: 0.35em !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 0.75em 2.5em 0.75em 2.5em !important;
    background-color: #8ebebc !important;
    border: 0 !important;
    cursor: pointer !important;
    scroll-behavior: smooth !important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png") !important;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png") !important;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png") !important;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png") !important;
    -moz-transition: background-color 0.35s ease-in-out !important;
    -webkit-transition: background-color 0.35s ease-in-out !important;
    -ms-transition: background-color 0.35s ease-in-out !important;
    transition: background-color 0.35s ease-in-out !important;
}

.buttonapply:hover {
    background-color: #9ececc !important;
}

.buttonapply:active {
    background-color: #7eaeac !important;
}

.titlesizeone {
    font-size: 40px !important;
}

.titlesizetwo {
    font-size: 20px !important;
}